$black: #191919;
$white: #ffffff;
$off-white: #f1f6fb;
$grey: #9b9b9b;
$red: #e24b4b;
$radius: 0.25rem;
$spacing: 0.1rem;
$shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
$ease-trans: all 0.4s ease;
$ease-trans-2: all 0.6s ease;
$ease-in-out-trans: all 0.25s ease-in-out;

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
