.drinks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
    grid-gap: 2rem;
    article {
        position: relative;
        transition: $ease-trans;
        transition-duration: 0.6s;
        img {
            width: 100%;
            height: 20rem;
            object-fit: cover;
            border: 0.5rem solid $white;
            border-radius: $radius;
            box-shadow: $shadow;
            transition: inherit;
        }
        h3 {
            position: absolute;
            bottom: -1rem;
            right: -1rem;
            padding: 1rem;
            border-radius: $radius;
            background-color: $black;
            color: $white;
            font-size: 1.5rem;
            line-height: 1.25;
            text-transform: uppercase;
            transition: inherit;
            transition-property: background-color;
            @include for-size(medium) {
                bottom: -0.5rem;
                right: -0.5rem;
            }
        }
    }
    a:hover {
        article {
            transform: scale(1.01);
            img {
                filter: grayscale(100%) blur(0.1rem);
            }
            h3 {
                background-color: $red;
            }
        }
    }
}
