.search-form {
    max-width: 40rem;
    margin: 0 auto 4rem;
    padding: 2rem;
    border-radius: $radius;
    background-color: $grey;
    color: $white;
    box-shadow: $shadow;
    @include for-size(small) {
        padding: 2rem 1rem;
    }
    &-field {
        label {
            margin-bottom: 1rem;
            font-weight: 700;
            line-height: 1.25;
            text-transform: capitalize;
            letter-spacing: $spacing;
        }
        input {
            width: 100%;
            height: 2rem;
            padding: 0 0.5rem;
            border: none;
            border-radius: $radius;
            &:focus {
                outline: none;
                box-shadow: $border-shadow;
            }
            &::placeholder {
                color: $grey;
            }
        }
    }
}
