.single-drink {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 4rem;
    &-image {
        width: 100%;
        border: 0.5rem solid $white;
        box-shadow: $shadow;
    }
    &-info {
        h4 {
            margin-bottom: 1rem;
            span {
                margin-left: 0.5rem;
                color: $red;
                font-weight: 500;
            }
        }
        p {
            margin-bottom: 1rem;
            font-style: italic;
        }
        .ingredients p {
            margin-bottom: 0;
        }
    }
}
